.searchpage-info {
  padding: 20px;

  p {
    margin-bottom: 10px;
    font-size: 0.875rem;
  }

  h1 {
    margin-bottom: 30px;
  }

  .searchpage-button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
  }
}
